{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <h1>Edit Task</h1>

    <a class="btn btn-primary" href="{{ path('task_index') }}"><i data-feather="chevrons-left"></i> Back to list</a>

    {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
