{% extends 'base.html.twig' %}

{% block title %}Edit Project{% endblock %}

{% block body %}
    <h1>Edit Project</h1>

    <a class="btn btn-primary" href="{{ path('project_index') }}"><i data-feather="chevrons-left"></i> Back to list</a>

    {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
