{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
    <h1>Create new Project</h1>

    {{ include('project/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('project_index') }}"><i data-feather="chevrons-left"></i> Back to list</a>
{% endblock %}
